@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 640px) {
  /* Estilos específicos para pantallas pequeñas (celulares) */
  main {
    width: 100%;
    overflow-x: auto; /* Si el contenido debe ser horizontalmente scrollable */
  }
}
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}


